@model IEnumerable<FishingProject.Models.TournamentTeam>

<u><h2>Teams In Tournament</h2></u>
<table class="table">
    <tr>
        <th>
            Place
        </th>
        <th>
            Team
        </th>
        <th>
            Big Bass(lb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfFishes)
        </th>
        <th>
            Total Weight(lb)
        </th>
        <th></th>
    </tr>
    @{
        int i = 1;
     }
    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BigBass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfFishes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight)
            </td>
            @if (this.User.IsInRole("Organization"))
            {
            <td>
                @Html.ActionLink("Edit Tournament Team", "EditTournamentTeam", new { id = item.TournamentTeamId }) |
                @Html.ActionLink("Delete Team", "DeleteTeam", new { id = item.TournamentTeamId })
            </td>
            }
        </tr>
        i++;
    }
</table>

<p>
    @Html.ActionLink("Back to List", "TournamentIndex")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
