@model IEnumerable<FishingProject.Models.Tournament>

@{ 
    ViewBag.Title = "TournamentIndex";
}
<br />
<br />
<h2 style="text-decoration: underline">List Of Tournaments</h2>
<h5>*Please Log In To Register For Tournament</h5>
<table class="table table-striped table-hover">
    <thead>
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.TournamentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TournamentDate)
            </th>

            <th></th>
        </tr>
    </thead>
   @foreach (var item in Model){
        <tr class="active">
        <td>
            @Html.DisplayFor(modelItem => item.TournamentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentDate)
        </td>
        <td>
            <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("AverageBigBassPerTournament", "Home", new { id = item.TournamentId })'">Average Big Bass</button> |
            <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("AverageTeamWeightPerTeamChart", "Home", new { id = item.TournamentId })'">Average Team Weight</button> |
            <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("TournamentTeamAmountChart", "Home", new { id = item.TournamentId })'">Average Team Per Tournament</button> |
            <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("TournamentDetails", "Organizations", new { id = item.TournamentId })'">Tournament Details</button> |
            <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("TournamentTable", "Organizations", new { id = item.TournamentId })'">Teams</button> |
            @if (item.TournamentDate > DateTime.Now)
            {
                if (this.User.IsInRole("Participant"))
                {
                    <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("RegisterTeam", "Participants", new { id = item.TournamentId })'">Register</button>
                }
                else
                {
                    <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("Login", "Account")'">Register</button>
                }
            }
            else
            {
                <button type="button" class="btn-primary btn-xs" onclick="location.href='@Url.Action("TournamentTable", "Organizations", new { id = item.TournamentId })'">Results</button>
            }

        </td>
        </tr>
    }
</table>