@model FishingProject.Models.Tournament

@{
    ViewBag.Title = "TournamentDetails";
}

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentDate)
        </dd>
        <dt>
            Launch Time
        </dt>

        <dd>
            6:30 AM
        </dd>
    </dl>
</div>
<br/>
<html>
<head>
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>
</head>
<body>
    <h3 style="text-decoration:underline">Map of Launch Site</h3>
    @*Div element for the map*@
    <div id="map"></div>
    <script>
        function initMap() {
            var location = { lat: @Html.DisplayFor(model => model.Lake.Address.Latitude), lng: @Html.DisplayFor(model => model.Lake.Address.Longitude) };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: location });
            var marker = new google.maps.Marker({ position: location, map: map });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@Keys.GoogleGeoCodeAPIKey&callback=initMap">
    </script>
</body>
</html>
<p>
    @Html.ActionLink("Back to List", "TournamentIndex")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
