@model IEnumerable<FishingProject.Models.Tournament>

@{ 
    ViewBag.Title = "TournamentIndex";
}

<h2>List Of Tournaments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TournamentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TournamentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TournamentId }) |
            @Html.ActionLink("TournamentDetails", "TournamentDetails", new { id=item.TournamentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TournamentId }) |
            @Html.ActionLink("TournamentTable", "TournamentTable", new { id=item.TournamentId}) |
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("RegisterTeam", "Participants", new { id=item.TournamentId })'">Register</button>
        </td>
    </tr>
}

</table>
